[Unit]
Description=ATLAS physical root terminal
After=systemd-user-sessions.service
Conflicts=getty@tty1.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/atlas
Environment=HOME=/root
Environment=USER=root
Environment=LOGNAME=root
Environment=SHELL=/usr/bin/zsh
Environment=TERM=xterm-256color
Environment=LANG=en_GB.UTF-8
Environment=LC_ALL=en_GB.UTF-8
RuntimeDirectory=atlas-screen-terminal
RuntimeDirectoryMode=0700
Environment=XDG_RUNTIME_DIR=/run/atlas-screen-terminal
ExecStart=/usr/bin/xinit /usr/local/libexec/atlas-screen-terminal -- /usr/bin/Xorg :0 -seat seat0 -nolisten tcp -ac -s 0 -dpms vt1 -keeptty -novtswitch
Restart=always
RestartSec=1
StandardInput=tty-force
StandardOutput=journal
StandardError=journal
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
UtmpIdentifier=tty1
UtmpMode=user
IgnoreSIGPIPE=no
SendSIGHUP=yes
